@model SchoolJournal.DAL.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<link type="text/css" rel="stylesheet" href="../../Content/css-style-for-partial.css" />
<h2>Регистрация аккаунта</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col" align="center">
        <div class="col" align="center">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder="Логин" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col" align="center">
        <div class="col" align="center">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Пароль", @style = "margin-top:10px;"} })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="buttonReg" align="center">
            <input type="submit" value="Зарегистрировать" class="btn btn-primary btn-lg" style="background:#00CC99;margin-top:10px" />
        </div>
        <div class="buttunBack" align="center">
            <a href="http://localhost:19230/Account/Login" class="btn btn-primary btn-lg" style="margin-top:10px">Назад</a>
        </div>       
    </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
